.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.comic-strip {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.comic-panel {
  width: 20%;
  max-width: 100%;
  margin-bottom: 5px; 
}

.image-panel-layout {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 16px;
}

.image-panel {
  width: 100%;
}

.comic-strip{
  align-self: right;
  align-content: right;
  align-items: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  margin: 0;
  padding: 0;
  background-image: url("/public/assets/background_site.png");
  background-position: center; /* Center the image */
  background-size: cover; 
  background-color: rgb(72, 30, 10);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
